.icon-button {
  width: 21px;
  height: 21px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.icon-button img {
  width: 100%;
  height: 100%;
  display: block;
}

.icon-button:hover img {
  filter: brightness(1.1);
}

.icon-button:active img {
  filter: brightness(0.9);
}

.icon-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}