.content-box {
  border: 1px solid;
  border-color: #7f9db9 #fff #fff #7f9db9;
  background: #f4f3ee;
  padding: 8px;
  margin-bottom: 12px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.box-title {
  color: #000080;
  font-weight: bold;
  margin-bottom: 8px;
}